# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos SSH/chaves
*.pub
eval*
id_*
*.key

# Logs
*.log

# Dependências
node_modules/
__pycache__/
*.pyc

# Ambiente
.env
.env.local
venv/

# IDE
.vscode/
.idea/
*.swp
